@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

body {
    background-color: white;
    font-family: 'Telex', sans-serif;
}

.logo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 40px;
}

#profile_img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}